footer p {
  text-align: right;
}

footer {
  margin-top: 50px;
  background-color: lightgray;
  height: 10rem;
}

.social {
  text-align: center;
  letter-spacing: 10px;
  padding-top: 40px;
}

.jumbotron {
  background-image: url(/Users/jrob481/JackieD/wade-lambert-767095-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50rem;
  margin-top: -20px;
}

.jumbotron h1 {
  opacity: 0.75;
  margin-top: 2px;
}
.jumbotron p {
  opacity: 0.75;
}
